pydub
scipy
numpy
plotly
openai==0.28.1
pandas==1.5.3
loguru
wavinfo
ma-nish
requests
soundfile
weatheril
matplotlib
scikit-learn
pyTelegramBotAPI

pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
starlette>=0.40.0 # not directly required, pinned by Snyk to avoid a vulnerability
